@-webkit-keyframes blink {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }
@-o-keyframes blink {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }
@-moz-keyframes blink {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }
@keyframes blink {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }
@-webkit-keyframes fade-in-slow {
  from {
    opacity: 0.0; }
  to {
    opacity: 1.0; } }
@-o-keyframes fade-in-slow {
  from {
    opacity: 0.0; }
  to {
    opacity: 1.0; } }
@-moz-keyframes fade-in-slow {
  from {
    opacity: 0.0; }
  to {
    opacity: 1.0; } }
@keyframes fade-in-slow {
  from {
    opacity: 0.0; }
  to {
    opacity: 1.0; } }
body {
  text-align: center;
  color: #000;
  background-color: #FEFEFE;
  font-family: "Hind Siliguri", sans-serif;
  margin: 0;
  padding: 0; }
  body p {
    font-size: 1.2em;
    line-height: 180%; }

header {
  margin: 300px 0 0 0;
  height: 600px; }

h1#logo {
  font-family: "Playfair Display", cursive;
  color: #264873;
  font-size: 6em;
  margin-bottom: 0; }
  h1#logo span.blink {
    -webkit-animation: blink 0.75s linear infinite;
    -moz-animation: blink 0.75s linear infinite;
    animation: blink 0.75s linear infinite;
    color: black; }

div.scroll-arrow {
  color: #B42B3F;
  margin-top: 200px; }
  div.scroll-arrow .fade-in-slow {
    opacity: 0;
    animation: fade-in-slow 5s;
    animation-fill-mode: forwards;
    animation-delay: 5s; }
  div.scroll-arrow p.scroll-you-clutz {
    opacity: 0;
    animation: fade-in-slow 5s;
    animation-fill-mode: forwards;
    animation-delay: 20s;
    font-size: 1.2em; }

header h2 {
  margin-top: 0; }

section h2 {
  font-size: 2.2em;
  margin: 0 auto 30px; }

section {
  margin: 400px 0;
  padding: 30px; }

section.mythfact {
  margin: 0; }

div.wrapper {
  width: 940px;
  margin: 0 auto; }

section#intro {
  background-color: #B42B3F;
  color: #FEFEFE;
  margin-top: 0; }

section#tax-bracket-graph {
  background-color: #264873; }
  section#tax-bracket-graph div.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end; }
    section#tax-bracket-graph div.flex-container div {
      width: 30%;
      background-color: #264873; }
      section#tax-bracket-graph div.flex-container div h3 {
        margin: 0; }
      section#tax-bracket-graph div.flex-container div p {
        margin: 0; }
    section#tax-bracket-graph div.flex-container div.first-bracket {
      height: 150px;
      background-color: #264873; }
      section#tax-bracket-graph div.flex-container div.first-bracket div.first-bar {
        background-color: #327427;
        height: 100px;
        box-sizing: border-box;
        width: 100%;
        padding-top: 20px; }
    section#tax-bracket-graph div.flex-container div.second-bracket {
      height: 250px;
      background-color: #264873; }
      section#tax-bracket-graph div.flex-container div.second-bracket div.second-bar {
        background-color: #327427;
        height: 200px;
        box-sizing: border-box;
        width: 100%;
        padding-top: 20px; }
    section#tax-bracket-graph div.flex-container div.third-bracket {
      height: 350px;
      background-color: #264873; }
      section#tax-bracket-graph div.flex-container div.third-bracket div.third-bar {
        height: 300px;
        box-sizing: border-box;
        width: 100%;
        padding-top: 20px;
        background-color: #787878; }
        section#tax-bracket-graph div.flex-container div.third-bracket div.third-bar p {
          margin-bottom: 184px; }
        section#tax-bracket-graph div.flex-container div.third-bracket div.third-bar div.money-end {
          height: 50px;
          background-color: #327427;
          width: 100%;
          padding-top: 20px; }
          section#tax-bracket-graph div.flex-container div.third-bracket div.third-bar div.money-end p {
            margin: 0; }

section#horizontal-income-tax-bar {
  background-color: #FEFEFE;
  color: black; }
  section#horizontal-income-tax-bar div.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 10%; }
    section#horizontal-income-tax-bar div.flex-container div {
      text-align: center;
      box-sizing: border-box; }
    section#horizontal-income-tax-bar div.flex-container .first {
      border-left: none;
      width: 18.5%;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    section#horizontal-income-tax-bar div.flex-container .middle {
      width: 56.4%;
      border-left: 2px solid #27571d;
      border-right: 2px solid #27571d; }
    section#horizontal-income-tax-bar div.flex-container .last {
      border-right: none;
      width: 25.1%;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
    section#horizontal-income-tax-bar div.flex-container div.bracket {
      background-color: #327427; }
    section#horizontal-income-tax-bar div.flex-container div.top {
      border-top: none;
      border-bottom: none; }
    section#horizontal-income-tax-bar div.flex-container div.bottom {
      border-top: none;
      border-bottom: none; }

section#math-stuff {
  background-color: #B42B3F; }

section.mythfact {
  display: flex;
  align-items: center;
  text-align: left;
  background-color: #264873;
  color: #FEFEFE; }
  section.mythfact div.mythfact-logo {
    width: 40%;
    text-align: right; }
    section.mythfact div.mythfact-logo h2 {
      font-size: 8em;
      margin: 0 40px 0 0; }
  section.mythfact div.mythfact-text {
    width: 60%; }
    section.mythfact div.mythfact-text p {
      font-size: 1.8em; }

/*# sourceMappingURL=main.css.map */
