// Colors
$white: #FEFEFE;
$black: #000;
$gray: #787878;
$dark-gray: #404040;
$light-gray: #B8B8B8;

$primary: #264873;
$secondary: #B42B3F;
$accent-1: orange;
$accent-2: green;

// Money, money, money
$green: #327427;
$light-green: #98dd9b;
$dark-green: #27571d;

// Some calculator specific colors
$dark-brown: #2f1110;

// Typefaces
$title-font: 'Playfair Display';
$body-font: 'Hind Siliguri';

// Animations

// Blink
@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
@-o-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
@-moz-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

// Fade in (front page arrow)
@-webkit-keyframes fade-in-slow {
  from { opacity: 0.0; }
  to { opacity: 1.0; }
}
@-o-keyframes fade-in-slow {
  from { opacity: 0.0; }
  to { opacity: 1.0; }
}
@-moz-keyframes fade-in-slow {
  from { opacity: 0.0; }
  to { opacity: 1.0; }
}
@keyframes fade-in-slow {
  from { opacity: 0.0; }
  to { opacity: 1.0; }
}



// Styles
body {
  text-align: center;
  color: $black;
  background-color: $white;
  font-family: $body-font, sans-serif;
  margin: 0;
  padding: 0;

  p {
    font-size: 1.2em;
    line-height: 180%;
    margin: 40px 0;
  }

  a {
    text-decoration: none;
    color: $secondary;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

header {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;

}


h1#logo {
  font-family: $title-font, cursive;
  color: $primary;
  font-size: 6em;
  margin: 0;
  margin-bottom: 0;

  span.blink {
    -webkit-animation: blink 0.75s linear infinite;
    -moz-animation: blink 0.75s linear infinite;
    animation: blink 0.75s linear infinite;
    color: black;
  }
}

div.scroll-arrow {
  color: $secondary;
  margin-top: 200px;

  .fade-in-slow {
    opacity: 0;
    animation: fade-in-slow 5s;
    animation-fill-mode: forwards;
    animation-delay: 5s;
  }

  p.scroll-you-clutz {
    opacity: 0;
    animation: fade-in-slow 5s;
    animation-fill-mode: forwards;
    animation-delay: 20s;
    font-size: 1.2em;
  }
}

header h2 {
  margin-top: 0;
}
section h2 {
  font-size: 2.2em;
  margin: 0 auto 50px;
}


section {
  height: 100vh;
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

section.mythfact {
  height: 50vh;
  flex-direction: row;

}

div.wrapper {
  width: 940px;
  margin: 0 auto;
}



// Sections

section#intro {
  background-color: $secondary;
  color: $white;

  div.consideration {
    width: 45%;
    margin: 60px 27.5%;

    ul {
      list-style: disc;
      text-align: left;
    }
  }
}

section#what-are-taxes {
  background-color: $primary;
  color:$white;
}

section#tax-bracket-graph {
  background-color: $primary;
  color: $white;

  div.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;


    div {
      width: 30%;
      background-color: $primary;

      h3 {
        margin: 0;
      }
      p {
        margin: 0;
      }
    }

    div.first-bracket {
      height: 150px;
      background-color: $primary;

      div.first-bar {
        background-color: $green;
        height: 120px;
        box-sizing: border-box;
        width: 100%;
        padding-top: 20px;
      }
    }

    div.second-bracket {
      height: 250px;
      background-color: $primary;

      div.second-bar {
        background-color: $green;
        height: 220px;
        box-sizing: border-box;
        width: 100%;
        padding-top: 20px;
      }
    }

    div.third-bracket {
      height: 350px;
      background-color: $primary;

      div.third-bar {
        height: 320px;
        box-sizing: border-box;
        width: 100%;
        padding-top: 20px;
        background-color: $gray;

        p {
          margin-bottom: 196px;
        }

        div.money-end {
          height: 50px;
          background-color: $green;
          width: 100%;
          padding-top: 20px;

          p {
            margin: 0;
          }
        }
      }
    }
  }

  div.legend {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    div.your-money {
      height: 50px;
      width: 50px;
      margin-right: 20px;
      background-color: $green;
    }
  }
}

section#horizontal-income-tax-bar  {
  background-color: #FEFEFE;
  color: black;

  div.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 10% 30px;

    div {
      text-align: center;
      box-sizing: border-box;
    }

    .first {
      border-left: none;
      width: 18.5%;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    .middle {
      width: 56.4%;
      border-left: 2px solid $dark-green;
      border-right: 2px solid $dark-green;
    }

    .last {
      border-right: none;
      width: 25.1%;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    div.bracket {
      background-color: $green;
    }

    div.top {
      border-top: none;
      border-bottom: none;
    }

    div.bottom {
      border-top: none;
      border-bottom: none;
    }
  }
}

section#math-stuff {
  background-color: $secondary;
  color: $white;

  .math-total {
    font-weight: bold;
  }

  .flex-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    table {
      width: 50%;
      text-align: left;
      font-size: 2em;

      .right {
        text-align: right;
        padding-right: 10px;
      }
    }

    img {
      width: 400px;
    }

    p {
      font-size: 2em;
    }
  }
}

section.mythfact {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: left;
  background-color: $secondary;
  color: $white;

  div.mythfact-logo {
    width: 40%;
    text-align: right;

    h2 {
      font-size: 8em;
      margin: 0 40px 0 0;
    }
  }

  div.mythfact-text {
    width: 60%;

    p {
      font-size: 1.8em;
    }
  }
}

section#dolla-bill {
  background-color: $dark-green;
  color: $white;


  ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    li {
      width: 30%;
      font-size: 5em;
      background-color: $light-green;
      border-radius: 5px;
      margin: 0;
      color: $dark-green;

      i.fa-money {
        color: $dark-green;
      }
    }
    li.label {
      background-color: $dark-green;
      color: $white;
      padding: 0;
      font-size: 1.2em;
    }
  }
}

section#try-it {

  div.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    ul {
      list-style: disc;
      text-align: left;
      margin-bottom: 20px;
    }

    input {
      width: 20%;
      border: 3px solid black;
      border-radius: 5px;
      font-size: 2em;
      margin: 0;
      padding: 10px;
    }

    table {
      font-size: 3em;

      td {
        width: 50%;
        text-align: left;
        padding: 0 5px;
      }

      td.right {
        text-align: right;
      }
    }

    div.calculator {
      width: 400px;
      // height: 700px;
      background-color: $secondary;
      border-radius: 10px;
      padding: 20px;
      margin-right: 10%;

      div.top-row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        div.solar-panel {
          background-color: $dark-gray;
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 175px;
          height: 50px;

          div.solar-cell {
          height: 80%;
          width: 20%;
          background-color: $dark-brown;
          }
        }

        div.calculator-logo {
          text-align: right;
          font-style: italic;
          color: $white;

          h3 {
            font-size: 1.3em;
            margin: 0;
          }

          h4 {
            font-size: 1.1em;
            font-weight: normal;
            margin: -5px 0 0;
          }
        }
      }

      input.screen {
        width: 320px;
        height: 75px;
        margin: 20px;
        background-color: $light-green;
        color: $black;
        border-color: $dark-green;
        text-align: right;
        padding: 0 20px;
        font-size: 2em;
      }

      input.screen::-webkit-input-placeholder {
        color: $dark-gray;
      }

      div.keypad {
        width: 100%;
        border-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 50px;

        div.key {
          width: 21%;
          height: 75px;
          margin: 10px 0;
          font-size: 2em;
          background-color: #fff;
          display: flex;
          align-items: center;
          justify-content: space-around;
          border-radius: 5px;
        }

        div.operator {
          background-color: $primary;
          color: $white;
        }
      }
    }
  }
}
