@-webkit-keyframes blink {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }
@-o-keyframes blink {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }
@-moz-keyframes blink {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }
@keyframes blink {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }
@-webkit-keyframes fade-in-slow {
  from {
    opacity: 0.0; }
  to {
    opacity: 1.0; } }
@-o-keyframes fade-in-slow {
  from {
    opacity: 0.0; }
  to {
    opacity: 1.0; } }
@-moz-keyframes fade-in-slow {
  from {
    opacity: 0.0; }
  to {
    opacity: 1.0; } }
@keyframes fade-in-slow {
  from {
    opacity: 0.0; }
  to {
    opacity: 1.0; } }
body {
  text-align: center;
  color: #000;
  background-color: #FEFEFE;
  font-family: "Hind Siliguri", sans-serif;
  margin: 0;
  padding: 0; }
  body p {
    font-size: 1.2em;
    line-height: 180%;
    margin: 40px 0; }
  body a {
    text-decoration: none;
    color: #B42B3F; }
  body ul {
    list-style: none;
    padding: 0;
    margin: 0; }

header {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column; }

h1#logo {
  font-family: "Playfair Display", cursive;
  color: #264873;
  font-size: 6em;
  margin: 0;
  margin-bottom: 0; }
  h1#logo span.blink {
    -webkit-animation: blink 0.75s linear infinite;
    -moz-animation: blink 0.75s linear infinite;
    animation: blink 0.75s linear infinite;
    color: black; }

div.scroll-arrow {
  color: #B42B3F;
  margin-top: 200px; }
  div.scroll-arrow .fade-in-slow {
    opacity: 0;
    animation: fade-in-slow 5s;
    animation-fill-mode: forwards;
    animation-delay: 5s; }
  div.scroll-arrow p.scroll-you-clutz {
    opacity: 0;
    animation: fade-in-slow 5s;
    animation-fill-mode: forwards;
    animation-delay: 20s;
    font-size: 1.2em; }

header h2 {
  margin-top: 0; }

section h2 {
  font-size: 2.2em;
  margin: 0 auto 50px; }

section {
  min-height: 100vh;
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  section p {
    text-align: left; }
  section .center {
    text-align: center; }

section.mythfact {
  min-height: 50vh;
  max-height: 50vh;
  flex-direction: row; }

div.wrapper {
  width: 940px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

section#intro {
  background-color: #B42B3F;
  color: #FEFEFE; }
  section#intro div.consideration {
    width: 45%;
    padding: 20px 20px 0px 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 4px white solid;
    border-radius: 5px;
    margin-top: 40px; }
    section#intro div.consideration ul {
      list-style: disc;
      text-align: left;
      margin: 50px;
      font-size: 1.1em; }
      section#intro div.consideration ul li {
        margin: 10px 0; }

section#what-are-taxes {
  background-color: #264873;
  color: #FEFEFE; }

section#tax-bracket-graph {
  background-color: #264873;
  color: #FEFEFE; }
  section#tax-bracket-graph div.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end; }
    section#tax-bracket-graph div.flex-container div {
      width: 30%;
      background-color: #264873; }
      section#tax-bracket-graph div.flex-container div h3 {
        margin: 0; }
      section#tax-bracket-graph div.flex-container div p {
        margin: 0; }
    section#tax-bracket-graph div.flex-container div.first-bracket {
      height: 150px;
      background-color: #264873; }
      section#tax-bracket-graph div.flex-container div.first-bracket div.first-bar {
        background-color: #327427;
        height: 120px;
        box-sizing: border-box;
        width: 100%;
        padding-top: 20px; }
    section#tax-bracket-graph div.flex-container div.second-bracket {
      height: 250px;
      background-color: #264873; }
      section#tax-bracket-graph div.flex-container div.second-bracket div.second-bar {
        background-color: #327427;
        height: 220px;
        box-sizing: border-box;
        width: 100%;
        padding-top: 20px; }
    section#tax-bracket-graph div.flex-container div.third-bracket {
      height: 350px;
      background-color: #264873; }
      section#tax-bracket-graph div.flex-container div.third-bracket div.third-bar {
        height: 320px;
        box-sizing: border-box;
        width: 100%;
        padding-top: 20px;
        background-color: #787878; }
        section#tax-bracket-graph div.flex-container div.third-bracket div.third-bar p {
          margin-bottom: 196px; }
        section#tax-bracket-graph div.flex-container div.third-bracket div.third-bar div.money-end {
          height: 50px;
          background-color: #327427;
          width: 100%;
          padding-top: 20px; }
          section#tax-bracket-graph div.flex-container div.third-bracket div.third-bar div.money-end p {
            margin: 0; }
  section#tax-bracket-graph div.legend {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px; }
    section#tax-bracket-graph div.legend div.your-money {
      height: 50px;
      width: 50px;
      margin-right: 20px;
      background-color: #327427; }

section#horizontal-income-tax-bar {
  background-color: #FEFEFE;
  color: black; }
  section#horizontal-income-tax-bar div.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 10% 30px; }
    section#horizontal-income-tax-bar div.flex-container div {
      text-align: center;
      box-sizing: border-box; }
    section#horizontal-income-tax-bar div.flex-container .first {
      border-left: none;
      width: 18.5%;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    section#horizontal-income-tax-bar div.flex-container .middle {
      width: 56.4%;
      border-left: 2px solid #27571d;
      border-right: 2px solid #27571d; }
    section#horizontal-income-tax-bar div.flex-container .last {
      border-right: none;
      width: 25.1%;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
    section#horizontal-income-tax-bar div.flex-container div.bracket {
      background-color: #327427; }
    section#horizontal-income-tax-bar div.flex-container div.top {
      border-top: none;
      border-bottom: none; }
    section#horizontal-income-tax-bar div.flex-container div.bottom {
      border-top: none;
      border-bottom: none; }

section#math-stuff {
  background-color: #B42B3F;
  color: #FEFEFE; }
  section#math-stuff .math-total {
    font-weight: bold; }
  section#math-stuff .flex-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
    section#math-stuff .flex-container table {
      width: 50%;
      text-align: left;
      font-size: 2em; }
      section#math-stuff .flex-container table .right {
        text-align: right;
        padding-right: 10px; }
    section#math-stuff .flex-container img {
      width: 400px; }
    section#math-stuff .flex-container p {
      font-size: 2em; }

section.mythfact {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: left;
  background-color: #B42B3F;
  color: #FEFEFE; }
  section.mythfact div.mythfact-logo {
    width: 40%;
    text-align: right; }
    section.mythfact div.mythfact-logo h2 {
      font-size: 8em;
      margin: 0 40px 0 0; }
  section.mythfact div.mythfact-text {
    width: 60%; }
    section.mythfact div.mythfact-text p {
      font-size: 1.8em; }

section#dolla-bill {
  background-color: #27571d;
  color: #FEFEFE; }
  section#dolla-bill ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    section#dolla-bill ul li {
      width: 30%;
      font-size: 5em;
      background-color: #98dd9b;
      border-radius: 5px;
      margin: 0;
      color: #27571d; }
      section#dolla-bill ul li i.fa-money {
        color: #27571d; }
    section#dolla-bill ul li.label {
      background-color: #27571d;
      color: #FEFEFE;
      padding: 0;
      font-size: 1.2em; }

section#try-it div.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  section#try-it div.flex-container ul {
    list-style: disc;
    text-align: left;
    margin-bottom: 20px; }
  section#try-it div.flex-container input {
    width: 20%;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 2em;
    margin: 0;
    padding: 10px; }
  section#try-it div.flex-container table {
    font-size: 3em; }
    section#try-it div.flex-container table td {
      width: 50%;
      text-align: left;
      padding: 0 5px; }
    section#try-it div.flex-container table td.right {
      text-align: right; }
  section#try-it div.flex-container div.calculator {
    width: 400px;
    background-color: #B42B3F;
    border-radius: 10px;
    padding: 20px;
    margin-right: 10%; }
    section#try-it div.flex-container div.calculator div.top-row {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      section#try-it div.flex-container div.calculator div.top-row div.solar-panel {
        background-color: #404040;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 175px;
        height: 50px; }
        section#try-it div.flex-container div.calculator div.top-row div.solar-panel div.solar-cell {
          height: 80%;
          width: 20%;
          background-color: #2f1110; }
      section#try-it div.flex-container div.calculator div.top-row div.calculator-logo {
        text-align: right;
        font-style: italic;
        color: #FEFEFE; }
        section#try-it div.flex-container div.calculator div.top-row div.calculator-logo h3 {
          font-size: 1.3em;
          margin: 0; }
        section#try-it div.flex-container div.calculator div.top-row div.calculator-logo h4 {
          font-size: 1.1em;
          font-weight: normal;
          margin: -5px 0 0; }
    section#try-it div.flex-container div.calculator input.screen {
      width: 320px;
      height: 75px;
      margin: 20px;
      background-color: #98dd9b;
      color: #000;
      border-color: #27571d;
      text-align: right;
      padding: 0 20px;
      font-size: 2em; }
    section#try-it div.flex-container div.calculator input.screen::-webkit-input-placeholder {
      color: #404040; }
    section#try-it div.flex-container div.calculator div.keypad {
      width: 100%;
      border-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: 50px; }
      section#try-it div.flex-container div.calculator div.keypad div.key {
        width: 21%;
        height: 75px;
        margin: 10px 0;
        font-size: 2em;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 5px; }
      section#try-it div.flex-container div.calculator div.keypad div.operator {
        background-color: #264873;
        color: #FEFEFE; }
section#try-it p#seriously {
  margin-bottom: 0;
  margin-top: 20px; }

footer {
  margin-top: 40px;
  color: #B8B8B8;
  font-size: 1em; }
  footer a {
    color: #B8B8B8; }
  footer ul li {
    display: inline-block;
    margin: 0 20px; }
  footer p {
    margin: 0; }

/*# sourceMappingURL=main.css.map */
